<input class='origin_address' class='search-ui' placeholder='Start Address'>
<input class='stop_location_1' class='search-ui' placeholder='Stop 1 (e.g. CVS)'>
<button class='add-stop'>Add stop</button>
<input class='destination_address' class='search-ui' placeholder='End Address'>
<button class='submit-search'>Enter</button>