<%= render partial: "map" %>

<div class="form">
	<input id='origin_address' class='search-ui' placeholder='Origin'>
	<input id='stop_location_1' class='search-ui' placeholder='e.g. CVS, Costco'>
	<input id='stop_location_2' class='search-ui' placeholder='e.g. CVS, Costco'>
	<input id='stop_location_3' class='search-ui' placeholder='e.g. CVS, Costco'>
	<input id='destination_address' class='search-ui' placeholder='Destination'>
	<button class="submit-search">Enter</button>
	<button class="seeInput">See Input</button>
</div>