<%= render partial: "map" %>
<input id='origin_address' class='search-ui' placeholder='origin address'>
<input id='stop_location' class='search-ui' placeholder='e.g. Costco, gas station'>
<input id='destination_address' class='search-ui' placeholder='destination address'>
<button class="submit-search">Enter</button>