<%= render partial: "map" %>

<!-- visitor counter -->
<!-- <div align=right><a href='http://www.counter12.com'><img src='http://www.counter12.com/img-wB4DZZ60-5.gif' border='0' alt='free counter'></a><script type='text/javascript' src='http://www.counter12.com/ad.js?id=wB4DZZ60'></script></div> -->

<div class="form">

	<h1 class="align-center">Routeflex</h1>
	<h5 class="align-center">Efficient routing for trips with multiple stops</h5>
	<!-- <p>Want to run several errands in the most efficient way but don't know the best route? Need to make stops at multiple stores on your way home from work? Routeflex is the solution!</p> -->

	<!-- <label for="">Optimize By:</label> -->
	<nav class="main-nav">
		<ul class="pagination vac">
		  <li class="by-time"><a href="#">Shortest Time</a></li>
		  <li class="by-distance"><a href="#">Shortest Distance</a></li>
		</ul>
	</nav>

	<!-- "Form Information Missing!" warning inserted inside this div if applicable -->
	<div class="missing-warning">
	</div>

	<div class="checkboxes">
		<input type="checkbox" name="roundtrip" class="roundtrip" value="roundtrip"> Roundtrip &nbsp &nbsp &nbsp
		<!-- <input type="checkbox" name="view-buffer" class="view-buffer" value="view-buffer"> View Buffer<br> -->
		<input type="checkbox"> View Buffer
	</div>
	
<!-- 	<nav class="main-nav">
		<ul class="pagination vac">
		  <li class="out-and-back"><a href="#">Out-and-Back</a></li>
		  <li class="on-my-way"><a href="#">On-my-Way</a></li>
		</ul>
	</nav> -->

	<!-- With "Stop 1, Stop 2, Stop3,..." format -->

<!-- 	<div class="fill-form">
		<br>
		<label class='start-address-label' for=''>Start Address:</label>
		<input type='text' class='origin_address form-control autocomplete' placeholder='10 Main St Anytown CA'>
		<br>
		<label for=''>Stop 1:</label>
		<input class='stop_location_1 form-control' placeholder='(e.g. CVS)'>
		<button class='add-stop btn btn-info'>Add stop</button>
		<br><br>
		<div class="end-address"><label for=''>End Address:</label><input class='destination_address form-control autocomplete' placeholder='20 Pine St Anytown CA'></div>
		<button class='submit-search btn btn-info'>Submit Search</button>
	</div> -->

	<!-- With comma-separated stops format -->

	<div class="fill-form">
		<br>
		<label class='start-address-label' for=''>Start Address:</label>
		<input type='text' class='origin_address form-control autocomplete' placeholder='10 Main St Anytown CA'>
		<br>
		<label for=''>Enter up to 3 stops, separated by commas</label>
		<input class='stops form-control' placeholder="e.g. 'CVS, Target, Costco' or 'CVS'">
		<br>
		<div class="end-address"><label for=''>End Address:</label><input class='destination_address form-control autocomplete' placeholder='20 Pine St Anytown CA'></div>
		<br>
		<button class='submit-search btn btn-info'>Submit Search</button>
	</div>

	<a href="/main/about" class="about-page">About</a>
</div>

<!-- ====================================== -->

<!-- <div id="locationField">
  <input id="autocomplete" placeholder="Enter your address" type="text"></input>
</div> -->

<!-- <input type="text" id="autocomplete"> -->

<!-- ====================================== -->

<!-- Original Description: You need to stop by a Starbucks, a pharmacy, and a Costco on your way home from work...but what's the most efficient route? There are many Starbucks and pharmacies along your way; you only need to stop at one of each, and don't really care which one it is. Routeflex is the solution you're looking for! -->

<!-- <p>Select "out-and-back" if you plan to return to your original location after running errands, and "on-my-way" if you plan to make stops along your route from one place to another.</p> -->

<!-- <p>Please select "out-and-back" or "on-my-way" before submitting a search!</p> -->

<!-- <a href='#' id='geolocate' class='ui-button'>Find me</a> -->