<%= render partial: "map" %>

<div class="form">
	<h1>Routeflex</h1>
	<h5>Efficient routing for trips with multiple stops!</h5>
	<p>Want to run several errands in the most efficient way but don't know the best route? Need to make stops at multiple stores on your way home from work? Routeflex is the solution!</p>
	<nav class="menu-ui">
		<a href="#" class="out-and-back">Out-and-Back</a>
		<a href="#" class="on-my-way">On-my-Way</a>
	</nav>
	<div class="fill-form">
	</div>
	<!-- <a href='#' id='geolocate' class='ui-button'>Find me</a> -->
</div>

<!-- Original Description: You need to stop by a Starbucks, a pharmacy, and a Costco on your way home from work...but what's the most efficient route? There are many Starbucks and pharmacies along your way; you only need to stop at one of each, and don't really care which one it is. Routeflex is the solution you're looking for! -->

<!-- <p>Select "out-and-back" if you plan to return to your original location after running errands, and "on-my-way" if you plan to make stops along your route from one place to another.</p> -->

<!-- <p>Please select "out-and-back" or "on-my-way" before submitting a search!</p> -->