/*html, body, #map-canvas {
    height: 600px;
    width: 70%;
    margin: 20px;
    padding: 0;
}*/

/*html, body, #map-canvas {
	height: 600px;
	width: 70%;
	margin: 20px;
	padding: 0;
	position: relative;
	display: inline-block;
}*/

#map-canvas {
    height: 600px;
    width: 70%;
    margin: 20px;
    padding: 0;
    position: relative;
    float: left;
    display: inline-block;
}

.form {
	width: 14%;
	height: 100%;
	float: left;
	margin: 20px;
}